Look for common rsID in the LDexpress and LDproxy data

In [1]:
import pandas as pd

In [4]:
LDX = pd.read_table("./LDexpress_08R2_500kb.txt")
LDP = pd.read_table("./LDproxy_list.txt")

In [5]:
LDP

,RS_Number,Coord,Alleles,MAF,Distance,Dprime,R2,Correlated_Alleles,FORGEdb,RegulomeDB,Function
0,rs139115930,chr14:76122412,(C/T),0.1561,0,1.0000,1.0000,"C=C,T=T",6.0,2b,NaN
1,rs60934996,chr14:76121943,(T/C),0.1571,-469,1.0000,0.9925,"C=T,T=C",NaN,5,NaN
2,rs2014344,chr14:76123758,(C/G),0.1571,1346,1.0000,0.9925,"C=C,T=G",8.0,4,NaN
3,rs2543354,chr14:76120078,(C/T),0.1590,-2334,0.9924,0.9630,"C=C,T=T",7.0,5,NaN
4,rs2543353,chr14:76120060,(C/A),0.1590,-2352,0.9924,0.9630,"C=C,T=A",8.0,5,NaN
...,...,...,...,...,...,...,...,...,...,...,...
140,rs148643357,chr14:76115924,(G/A),0.0020,-6488,1.0000,0.0108,NaN,5.0,.,NaN
141,rs546282500,chr14:76112262,(G/A),0.0020,-10150,1.0000,0.0108,NaN,NaN,.,NaN
142,rs182305895,chr14:76109609,(G/C),0.0020,-12803,1.0000,0.0108,NaN,6.0,.,NaN
143,rs138573174,chr14:76116827,(C/T),0.0040,-5585,0.7038,0.0107,NaN,5.0,.,NaN
144,rs75591847,chr14:76118246,(G/C),0.0517,-4166,1.0000,0.0101,NaN,7.0,4,NaN

In [6]:
LDX

,Query,RS ID,Position,R2,D',Gene Symbol,Gencode ID,Tissue,Non-effect Allele Freq,Effect Allele Freq,Effect Size,P-value
0,rs139115930,rs2543350,chr14:76118891,0.909388,1.0,GPATCH2L,ENSG00000089916.17,Cells - EBV-transformed lymphocytes,T=0.831,C=0.169,-0.448877,5.121750e-07
1,rs139115930,rs2543350,chr14:76118891,0.909388,1.0,ESRRB,ENSG00000119715.14,Esophagus - Muscularis,T=0.831,C=0.169,-0.359643,7.439660e-06
2,rs139115930,rs2543350,chr14:76118891,0.909388,1.0,GPATCH2L,ENSG00000089916.17,Esophagus - Muscularis,T=0.831,C=0.169,0.173111,9.118600e-06
3,rs139115930,rs2543350,chr14:76118891,0.909388,1.0,ESRRB,ENSG00000119715.14,Artery - Tibial,T=0.831,C=0.169,-0.258806,3.953020e-05
4,rs139115930,rs2543350,chr14:76118891,0.909388,1.0,RP11-361H10.3,ENSG00000258454.1,Artery - Tibial,T=0.831,C=0.169,-0.340088,1.085630e-06
...,...,...,...,...,...,...,...,...,...,...,...,...
92,rs139115930,rs1009908,chr14:76126621,0.826125,1.0,GPATCH2L,ENSG00000089916.17,Adipose - Subcutaneous,T=0.817,C=0.183,0.129249,3.074400e-05
93,rs139115930,rs1009908,chr14:76126621,0.826125,1.0,ESRRB,ENSG00000119715.14,Artery - Tibial,T=0.817,C=0.183,-0.235255,4.573750e-05
94,rs139115930,rs1009908,chr14:76126621,0.826125,1.0,RP11-361H10.3,ENSG00000258454.1,Artery - Tibial,T=0.817,C=0.183,-0.250159,9.734700e-05
95,rs139115930,rs1009908,chr14:76126621,0.826125,1.0,ESRRB,ENSG00000119715.14,Skin - Sun Exposed (Lower leg),T=0.817,C=0.183,-0.254057,4.913340e-05
96,rs139115930,rs1009908,chr14:76126621,0.826125,1.0,GPATCH2L,ENSG00000089916.17,Skin - Sun Exposed (Lower leg),T=0.817,C=0.183,0.189179,6.004020e-08

In [11]:
LDP[LDP['R2'] > 0.9]

,RS_Number,Coord,Alleles,MAF,Distance,Dprime,R2,Correlated_Alleles,FORGEdb,RegulomeDB,Function
0,rs139115930,chr14:76122412,(C/T),0.1561,0,1.0000,1.0000,"C=C,T=T",6.0,2b,NaN
1,rs60934996,chr14:76121943,(T/C),0.1571,-469,1.0000,0.9925,"C=T,T=C",NaN,5,NaN
2,rs2014344,chr14:76123758,(C/G),0.1571,1346,1.0000,0.9925,"C=C,T=G",8.0,4,NaN
3,rs2543354,chr14:76120078,(C/T),0.1590,-2334,0.9924,0.9630,"C=C,T=T",7.0,5,NaN
4,rs2543353,chr14:76120060,(C/A),0.1590,-2352,0.9924,0.9630,"C=C,T=A",8.0,5,NaN
5,rs2543352,chr14:76120021,(C/T),0.1590,-2391,0.9924,0.9630,"C=C,T=T",8.0,5,NaN
6,rs2543350,chr14:76118891,(T/C),0.1690,-3521,1.0000,0.9094,"C=T,T=C",7.0,5,NaN

In [9]:
LDP[LDP['RS_Number'].isin(LDX['RS ID'])]

,RS_Number,Coord,Alleles,MAF,Distance,Dprime,R2,Correlated_Alleles,FORGEdb,RegulomeDB,Function
0,rs139115930,chr14:76122412,(C/T),0.1561,0,1.0000,1.0000,"C=C,T=T",6.0,2b,NaN
1,rs60934996,chr14:76121943,(T/C),0.1571,-469,1.0000,0.9925,"C=T,T=C",NaN,5,NaN
2,rs2014344,chr14:76123758,(C/G),0.1571,1346,1.0000,0.9925,"C=C,T=G",8.0,4,NaN
3,rs2543354,chr14:76120078,(C/T),0.1590,-2334,0.9924,0.9630,"C=C,T=T",7.0,5,NaN
4,rs2543353,chr14:76120060,(C/A),0.1590,-2352,0.9924,0.9630,"C=C,T=A",8.0,5,NaN
5,rs2543352,chr14:76120021,(C/T),0.1590,-2391,0.9924,0.9630,"C=C,T=T",8.0,5,NaN
6,rs2543350,chr14:76118891,(T/C),0.1690,-3521,1.0000,0.9094,"C=T,T=C",7.0,5,NaN
7,rs113043655,chr14:76119702,(T/C),0.1710,-2710,1.0000,0.8967,"C=T,T=C",5.0,5,NaN
9,rs58263595,chr14:76124130,(C/A),0.1799,1718,1.0000,0.8429,"C=C,T=A",NaN,4,NaN
10,rs17104049,chr14:76124331,(A/G),0.1809,1919,1.0000,0.8372,"C=A,T=G",NaN,5,NaN
11,rs58521628,chr14:76124801,(G/A),0.1809,2389,1.0000,0.8372,"C=A,T=G",NaN,5,NaN
12,rs17104052,chr14:76124863,(A/C),0.1829,2451,1.0000,0.8261,"C=A,T=C",NaN,5,NaN
13,rs1009908,chr14:76126621,(T/C),0.1829,4209,1.0000,0.8261,"C=T,T=C",6.0,5,NaN

In [13]:
len(LDX['RS ID'].unique())

13